flask
python-dotenv
tenacity
openai
langchain
tiktoken
langchain_openai
azure-identity
config 
langchain-core
langchain_community 
langchain_text_splitters
pypdf
docx2txt
psycopg2-binary
langchain_experimental
unstructured
python-magic
python-pptx
openpyxl
networkx
azure-cosmos
sqlalchemy
werkzeug
pandas
